{% extends 'site_base.html' %}

{% load i18n %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}condottieri_scenarios/css/condottieri_scenarios.css" />
{% endblock %}

{% block subnav %}
<ul>
<li><a href="{% url home %}">{% trans "Home" %}</a></li>
<li><a href="{% url setting_list %}">{% trans "Settings" %}</a></li>
<li><a href="{% url scenario_list %}">{% trans "Scenarios" %}</a></li>
<li><a href="{% url country_list %}">{% trans "Countries" %}</a></li>
</ul>
{% endblock %}

{% block main_content %}
{% block body %}{% endblock %}
{% endblock %}

