{% extends 'condottieri_scenarios/base.html' %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% blocktrans %}Edit country{% endblocktrans %}{% endblock %}

{% block body %}
<div class="section">
<h2>{% trans "Edit country" %}</h2>

<form action="." method="post" accept-charset="utf-8" class="uniForm" enctype="multipart/form-data">
{% csrf_token %}
{{ form|as_uni_form }}
<p><input type="submit" value="{% trans "Save" %}" /></p>
</form>

{% if country %}
<p><a href="{% url country_detail country.static_name %}">{% trans "Return" %}</a></p>
{% else %}
<p><a href="{% url country_list %}">{% trans "Cancel" %}</a></p>
{% endif %}

</div>
{% endblock %}
