{% extends 'condottieri_scenarios/base.html' %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% blocktrans %}Edit initial areas{% endblocktrans %}{% endblock %}

{% block body %}
<div class="section">
<h2>{% blocktrans with contender.country.name as country %}Initial areas for {{country}}{% endblocktrans %}</h2>

<p>{% blocktrans with contender.country.name as country %}Select the areas that {{ country }} will control at the start of the game. Mark which of these areas that you want to be part of its "home country".{% endblocktrans %}</p>

<form action="." method="post" accept-charset="utf-8" class="uniForm">
{% csrf_token %}
{{ formset.management_form }}

<table>
<thead><tr>
<th>{% trans "Area" %}</th>
<th>{% trans "Home country?" %}</th>
<th>{% trans "Delete" %}</th>
</tr></thead>
	{% for h in contender.home_set.all %}
	<tr>
	<td>{{ h }}</td>
	<td>{{ h.is_home|yesno }}</td>
	<td><a href="{% url scenario_home_delete h.pk %}">{% trans "Delete" %}</a></td>
	</tr>
	{% endfor %}
	{% for form in formset %}
	<tr class="{{ formset.prefix }}">
	{{ form.id }}
	<td>
		{% for e in form.errors.values %}
			{{ e }}
		{% endfor %}
		{{ form.area }}
		{{ form.area.errors }}
	</td>
	<td>
		{{ form.is_home }}
		{{ form.is_home.errors }}
	</td>
	<td>&nbsp;</td>
	</tr>
	{% endfor %}
</table>

<p><input type="submit" value="{% trans "Save" %}" /></p>
</form>

<p><a href="{% url scenario_detail contender.scenario.name %}">{% trans "Return to scenario" %}</a></p>

</div>
{% endblock %}
