{% extends 'condottieri_scenarios/base.html' %}

{% load i18n %}
{% load cache %}

{% block head_title %}{{ scenario.title }}{% endblock %}

{% block body %}
{# cache 1800 "scenario" scenario.id LANGUAGE_CODE #}

<div class="section">
<h2>{{ scenario.title }} ({{ scenario.number_of_players }} {% trans "players" %})</h2>
<p>{{ scenario.description }}</p>
<dl>
<dt>{% trans "Designer" %}</dt><dd>{{ scenario.designer }}</dd>
<dt>{% trans "Start year" %}</dt><dd>{{ scenario.start_year }}</dd>
</dl>

{% if user_can_edit %}
<p><a href="{% url scenario_descriptions_edit scenario.name %}">{% trans "Edit or translate descriptions" %}</a></p>
{% endif %}

</div>

<div class="section">
<h2>{% trans "Setup" %}</h2>

{% if user_can_edit %}
<p><a href="{% url scenario_contender_edit scenario.name %}">{% trans "Edit countries" %}</a></p>
{% endif %}

<table>
<thead>
<tr>
<th>{% trans "Coat of arms" %}</th>
<th>{% trans "Country" %}</th>
<th>{% trans "Home provinces" %}</th>
<th>{% trans "Initial setup" %}</th>
<th>{% trans "Initial ducats" %}</th>
<th>{% trans "Double income" %}</th>
</tr>
</thead>
{% for c in scenario.contender_set.all %}
<tr>
<td class="data_c">
{% if c.country %}
<img src="{{ STATIC_URL }}machiavelli/img/banner-{{ c.country.static_name }}.png" alt="{{ c.country.name }}"/>
{% endif %}
</td>
<td>
{% if c.country %}
	{{ c.country.name }}
{% else %}
	{% trans "Autonomous" %}
{% endif %}
</td>
<td>
{% if c.country %}
	{{ c.home_set.all|join:", " }}
	{% if user_can_edit %}
	<br />
	<a href="{% url scenario_contender_homes c.pk %}">{% trans "Edit" %}</a>
	{% endif %}
{% endif %}
</td>
<td>{{ c.setup_set.all|join:", " }}
	{% if user_can_edit %}
	<br />
	<a href="{% url scenario_contender_setup c.pk %}">{% trans "Edit" %}</a>
	{% endif %}
</td>
<td class="data_c">
{% if c.country %}
{{ c.treasury.ducats }}
	{% if user_can_edit %}
	<br />
	<a href="{% url scenario_contender_treasury c.pk %}">{% trans "Edit" %}</a>
	{% endif %}
{% endif %}
</td>
<td class="data_c">{% if c.country %}{{ c.treasury.double|yesno }}{% endif %}</td>
</tr>
{% endfor %}
</table>

<table>
<thead>
<tr>
<th>{% trans "Cities that give additional income" %}</th>
</tr>
</thead>
<tr>
<td>
{{ scenario.major_cities|join:", " }}
	{% if user_can_edit %}
	<br />
	<a href="{% url scenario_cityincome_edit scenario.name %}">{% trans "Edit" %}</a>
	{% endif %}
</td>
</tr>
</table>

<table>
<thead>
<tr>
<th>{% trans "Disabled areas" %}</th>
</tr>
</thead>
{% for area in scenario.disabledarea_set.all %}
<tr><td>{{ area.pretty_name }}</td></tr>
{% endfor %}
	{% if user_can_edit %}
	<tr><td><a href="{% url scenario_disabled_edit scenario.name %}">{% trans "Edit" %}</a></td></tr>
	{% endif %}
</table>

</div>

<div class="section">
<h2>{% trans "Initial map" %}</h2>
<div id="scenario_map">
<img src="{{ MEDIA_URL }}scenarios/625x890/{{ scenario.map_name }}" />
</div>
{% if user_can_edit %}
	<p><a href="{% url scenario_make_map scenario.name %}">{% trans "Redraw map" %}</a></p>
{% endif %}
</div>

{# endcache #}
{% endblock %}
